@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');





 :root{
    --main-color: #333333;
    --sec-color: #707070;
    --bg-color: #fbfbfb;
    --block-color: #ffffff;
    --search-color: #dfdfdf;
    --headline-color: #333333;
    --headline-photo-color: #e3e3e3;
} 


[data-theme="dark"] {
    --main-color: #d5d5d5;
    --sec-color: #707070;
    --bg-color: #1b1b1b;
    --block-color: #282828;
    --search-color: #282828;
    --headline-color: #d5d5d5;
    --headline-photo-color:#d5d5d5; 

  }

[data-theme="dark"] .nav-wrap{
    box-shadow: none;
}

[data-theme = "dark"] .filter:hover{
    background-color: var(--search-color);
}

[data-theme = "dark"] .filter, .mob-filter{
   outline: 1px solid #383838
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color);
}


header{
    display: contents;
}

figure{
    display: contents;
}

article{
    display: contents;
}

section{
    display: contents;
}

aside{
    display: contents;
}


#checkbox{
    display: none;
}

p{
    font-size: 1em;
    line-height: 1.6em;
}

ul{
    list-style-type: none;
    padding: 0;
}

/* header{
    display: flex;
    justify-content: center;
} */

.hide-mob{
    display: none;
}

.menu img{
    width: 1.5em;
}

.menu-span{
    display: block;
    background: var(--main-color);
    z-index: 50;
    height: .3em;
    width: 2em;
    margin: 54% 0 0 0;
    position: relative;
    border-radius: 7rem;
    transition: transform .2s ease-out;
}

.ham-container{
    height: 1rem;
    position: relative;
    top: .3em;
}

.menu-span::before{
    content: "";
    display: block;
    position: absolute;
    top: -.7rem;
    background: var(--main-color);
    width: 2em;
    height: .3em;
    border-radius: 7rem;
    transition: transform .2s ease-out;
}




.nav-wrap{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 2.5em; 
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--bg-color);
    margin: 0;
    padding: 2em 0 1em 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 2px 2px #fbfbfbe6;
    left: 0;
    right: 0;
    margin: 0 auto;
}




.logo{
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
    font-size: 2em;
    order: 2;
}

.menu{
    order: 1;
    margin-top: 2%;
    cursor: pointer;
}

.search{
    order: 3;
    margin-top: 1%;
    width: auto;
    height: auto;
    border-radius: 0em;
    padding-left: 0rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.search img{
    width: 1.8rem;
}

.gridLay{
    display: none;
}












.card{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1em 10% 10% 10%;
    border-radius: 1rem;
    box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.51);
    position: relative;
    background-color: var(--block-color);
    transition: margin .2s ease;
    
}

.card-img{
    padding: 0;
    margin: 0;
    height: 40vh;
    border-radius: 4%;
    object-fit: cover;
}

.card-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 4%;
    height: 40vh;
}

.text-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
    color: var(--block-color);
    border-radius: 4%;
    position: absolute;
    top: 0;
}

.mob-grey{
    width: 100%;
    height: 40vh;
    background-color: rgba(83, 83, 83, 0.5);
    border-radius: 4%;
    position: absolute;
    top: 0;
}

.card-2{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1em 10% 0 10%;
    border-radius: 4%;
    box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.51);
    position: relative;
    background-color: var(--block-color);
}

.card-img-2{
    padding: 0;
    margin: 0;
    height: 40vh;
    border-radius: 4%;
    background-image: url(../images/sport_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-2 .text-container {
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    color: var(--block-color);
    background-color: rgba(83, 83, 83, 0.5);
    border-radius: 4%;
    position: absolute;
    top: 0;
}

.greyHideMob{
    display: none;
}

.desk-card-1, .desk-card-2{
    display: none;
}












/* .text-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: space-around;
    width: 80%;
    height: 40%;
    color: white;
    background-color: rgba(83, 83, 83, 0.5);
    border-radius: 4%;
    position: relative;
    top: 15.5%;
} */

.card-topic, .card-title, .card-par{
padding-left: 1.7rem;
}

/* .card-par{
padding-right: 15%;
bottom: 5%;
position: absolute;
font-weight: 400;
font-size: 1.1em;
max-width: 80%;
overflow: hidden;
text-overflow: ellipsis;
margin: 0;
} */

.card a{
    text-emphasis: none;
    text-decoration: none;
    color: var(--block-color);
}

.card-container h1{
    word-break: break-word;
}


.par4{
    position: absolute;
    font-weight: 400;
    font-size: 1.1em;
    margin: 0;
    padding-right: 10%;
    max-height: 5rem;
    bottom: 1rem;
    overflow: hidden;
    color: var(--block-color);
}

.card-topic{
    top: 1rem;
    position: absolute;
    font-weight: 400;
    font-size: .9em;
    margin: 0;
    color: var(--block-color);
    text-transform: uppercase;
}

.tit4{
    position: absolute;
    top: 15%;
    font-size: 2.5rem;
    font-weight: 700;
    padding-right: 15%;
    margin: 0;
    color: var(--block-color);
}


/* .card-title{
    position: absolute;
    top: 15%;
    font-size: 2.5em;
    font-weight: 700;
    padding-right: 15%;
    margin: 0;

} */

.card-container{
    display: flex;
    flex-direction: column;
    margin: 7rem 0 0 0;
}




.multi-desk{
    display: none;
}

.multi-photo-2{
    display: none;
}

.multi-text-2{
    display: none;
}

.flags{
    display: none;
}


.multi{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-around;
    padding: 8%;   
    grid-template-areas: "header" "news-1" "news-2" "news-3";
    overflow: hidden;
    align-items: center;
    grid-row-gap: 1rem;
}

.card-2 .multi{
    grid-row-gap: 0;
}

.multi1{
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi-t{
    display: none;
}



.multi-card-title{
    color: var(--main-color);
}
.multi-news-title{
    font-weight: 700;
    font-size: 1.4em;
    margin: .3em 0 .2em 0;
    padding: 0;
    color: var(--main-color);
}
.multi-news{
    color: var(--sec-color);
    font-weight: 400;
    font-size: .9em;
    margin: 0;
    padding: 0;
}

.multi-photo{
    display: none;
}

.desk-topic-pol{
    display: none;
}

.desk-card-2{
    display: none;
}

.multi-text{
    display: none;
}

.desk-topic-spo{
    display: none;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vuenonso{
    font-size: 3em;
    color: black;
}

.desc{
    font-size: 2em;
    color: black;
}








/* News Page Start */

.news-container{
    margin: 0;
    margin-top: 12em;
}
.news-container > div{
    background-image: url(../images/pol_1.jpg);
    background-color: var(--sec-color);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;   
}
.news-page-title{
    color: var(--main-color);
    font-weight: 700;
    font-size: 4em;
    line-height: .9em;
    padding: 0 4rem 0 1.8rem;
}
.news-text{
    padding: 0 1.8rem 0 1.8rem;
    color: var(--sec-color);
    font-weight: 400;
    margin-top: 2.5em;
}
.author{
    padding: 0 1.8rem 0 1.8rem;
    color: var(--sec-color);
    font-weight: 400;
    font-size: .8em;
    margin-top: -2em;
}


                                /* SHOW RESULTS */

.move-aside{
    /* animation-name: moveAside;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
    display: none !important;

}

/* NAVBAR RECENTER */

.nav-recentered{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* TOPIC INTO SEARCH RESULT */

#topic-ricerca{
    max-width: 1200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
}

/* FAI VEDERE RISULTATI RICERCA */

.show-results{
    grid-column: 1/9;
    grid-row: 5/5;
    padding: 0 1rem;
    justify-self: center;
    order: 1;
    margin-bottom: 3rem;

}

.show-results button{
    font-size: .9rem;
    font-weight: 500;
    background-color: var(--search-color);
    color: var(--sec-color);
    padding: .5rem .8rem;
    border-radius: 20px;
    border: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lista-risultati{
    grid-column: 1/9;
    justify-self: center;
    width: 60%;
    order: 3;
}

.lista-risultati ul li{
    margin-bottom: 1.4rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 13px -9px rgb(0 0 0 / 30%);
    background-color: var(--block-color);

}

.lista-risultati ul li a{
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}

.lista-risultati ul li h2{
    margin-bottom: .5rem;
    font-size: 1.2em;
}

.lista-risultati ul li p{
    font-size: .8em;
    line-height: 1.6em;
}

.lista-risultati ul li a:hover h2{
    text-decoration: underline;
}




#plus2{
    position: relative;
    width: .2rem;
    height: 1rem;
    background-color: var(--sec-color);
    border-radius: 9999px;
    margin-top: -1rem;
    opacity: 0;
    transform: translateY(-.5rem);
    transition: all 150ms ease-in-out;
}

#plus2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: .7rem;
    height: .2rem;
    background-color: var(--sec-color);
    border-radius: 9999px;
    transform: translateY(-.19rem) rotate(-45deg);
}
#plus2::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: .7rem;
    height: .2rem;
    background-color: var(--sec-color);
    border-radius: 9999px;
    transform: translateY(-.19rem) rotate(45deg);
}



.show-results button:hover #plus2{
    opacity: 1;
    margin-top: 0;
    transform: translateY(0);
}

/* NASCONDI RISULTATI RICERCA */

.desk-topic-pol h2::after{
    content: "";
    width: 1.5rem;
    height: .3rem;
    background-color: var(--sec-color);
    display: inline-block;
    border-radius: 9999px;
    transform: rotate(45deg);
    align-self: center;
    margin-left: .7rem;
    position: absolute;
    right: 0;

}

.desk-topic-pol h2::before{
    content: "";
    width: 1.5rem;
    height: .3rem;
    background-color: var(--sec-color);
    display: inline-block;
    border-radius: 9999px;
    transform: rotate(-45deg);
    align-self: center;
    margin-left: .7rem;
    position: absolute;
    right: 0;
}

.desk-topic-pol h2.nox::before{
    display: none;
}

.desk-topic-pol h2.nox::after{
    display: none;
}

.desk-topic-pol h2#topic-ricerca{
    display: flex!important;
}

.desk-topic-pol span{
    width: 1.5rem;
    height: 1.5rem;
    z-index: 10000;
}

/* NESSUN RISULTATO */
#error{
    grid-column: 1/9;
    justify-self: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
}

#error span{
    margin-top: 1rem;
    background-color: var(--search-color);
    padding: .5rem 2.5rem;
    border-radius: 9999px;
    font-size: 1rem;
}

#error span a{
    text-decoration: none;
    color: var(--main-color);
}

/* MOBILE SEARCH ANIMATION OPEN */
.mobile-search-open{
    animation-name: open-m-search, shadow;
    animation-duration: 300ms, 300ms;
    animation-delay: 0ms, 200ms;
    animation-timing-function: ease, ease;
    animation-fill-mode: forwards, forwards;
}

@keyframes open-m-search{
    from {
        order: 3;
        margin-top: 1%;
        padding-left: 0rem;
        display: flex;
        background-color: var(--block-color);
        height: 3rem;
        border-radius: 999em;
        width: 0%;
    }



    to{
        width: 80%;
        order: 3;
        margin-top: 1%;
        border-radius: 0em;
        padding-left: 0rem;
        display: flex;
        background-color: var(--block-color);
        height: 3rem;
        border-radius: 999em;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@keyframes shadow {
    from{
        box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 39%);
    }

    to{
        box-shadow: 0px 10px 13px -9px rgb(0 0 0 / 39%);
    }
}

#mobSearchBar{
    width: 90%;
    border: none;
    border-radius: 999em;
    height: 90%;
    font-size: 1rem;
    color: var(--main-color);
    text-decoration: none;
    padding: 0 1rem;
    outline: none;
    appearance: textfield;
    order: 2;
    background: transparent;

}

#mobSearchBar:focus{
    background-color: var(--block-color);
}

.close-icon{
    order: 1;
}

.mobile-search-close{
    animation-name: open-m-search, shadow;
    animation-duration: 300ms, 300ms;
    animation-delay: 0ms, 200ms;
    animation-timing-function: ease, ease;
    animation-fill-mode: backwards, backwards;
}


.search-hidden{
    order: 3;
}


/* DARK MODE TOGGLE */

.dark-toggle{
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 999em;
    background-color: rgb(233, 233, 233);
    display: flex;
    transition: background-color .2s ease-out;

}

.circle{
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    background-color: rgb(255, 255, 255);
    border-radius: 999em;
    left: .15rem;
    top: .15rem;
    transition: all .35s cubic-bezier(.54, 1.60, .5, 1);
}



.dark-toggle:active .circle{
    padding-right: .5rem;
}

#dark-hidden{
    display: none;
}


.fa-sun-o{
    color: #ffa500;
    text-shadow: 0px 0px 16px 
}

.fa-moon-o{
    color: #6b6b6b;
    text-shadow: none;
}

.moon-light{
    color: #fff;
    text-shadow: 0px 0px 16px;

}

.dark-circle{
    background-color: rgb(153 153 153);
}

.dark-btn-container{
    width: auto;
    display: flex;
    align-items: center;
    order: 4;
    padding-right: 1rem;
}

.dark-btn-container-mob{
    display: flex;
    align-items: center;
}

i{
    margin: 0 .5rem;
}

.darkbg{
    background-color: rgb(47, 47, 47);
}

.check-checked{
    left: calc(100% - .15rem);
    transform: translateX(-100%);
}

.sun-dark{
    color: rgb(85, 85, 85);
    text-shadow: none;
}

/* SEARCH FILTERS */

.filter-container, .mob-filter-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    display: none;

}

.filter, .mob-filter{
    border-radius: 999em;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 0 1rem;
    font-size: 1.5rem;
    box-shadow: 0px 10px 7px -9px rgb(0 0 0 / 20%);
    transition: all .3s ease;
    cursor: pointer;

}

.filter:hover{
    box-shadow: 0px 10px 0px -9px rgb(0 0 0 / 20%);
}

#searchBar:focus ~ .filter-container{
    display: flex;
}

#mobSearchBar{
    position: relative;
}

.mob-filter{
    font-size: 2rem;
    padding: .5rem 2rem;
    margin: 0 10%;
    appearance: none;
}

.mob-filter-container{
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    justify-content: center;
}


.margin-top{
    margin-top: 5em;
}

#ita:checked ~ .ita{
    background-color: #cccccc;
}
