/* :root{
    --main-color: #333333;
    --sec-color: #707070;
    --bg-color: #fbfbfb;
    --block-color: #ffffff;
    --search-color: #dfdfdf;
} */






.menu-label{
    cursor: pointer;
}



.cross-label{
    align-self: flex-end;
    margin: 2rem 2rem 0 0;
}

.cross-icon{
    width: 2rem;
}

.menu-span-open{
    display: block;
    background: #333333;
    height: .3em;
    width: 2em;
    margin: 54% 0 0 0;
    position: relative;
    border-radius: 7rem;
    transform: translateY(-.8rem);

}

.ham-container-open{
    height: 1rem;
    position: relative;
    top: .3em;
    z-index: 19;
}

.menu-span-open::before{
    content: "";
    display: block;
    position: absolute;
    top: -.7rem;
    background: #333333;
    width: 2em;
    height: .3em;
    border-radius: 7rem;
    transform: translateY(.68rem);
}

.slide-menu .menu-label{
    height: 2rem;
    width: 2rem;
    align-self: flex-end;
    margin: 2rem 2rem 0 0;
}









.slide-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: var(--bg-color);
    width: 60vw;
    height: 100vh;
    left: -100%;
    transition: 200ms ease-in-out;
    align-items: center;
    box-shadow: 0px 10px 13px 5px rgb(0 0 0 / 20%);
}

.toggler-label{
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transition: 150ms opacity ease-out;
}

.slide-menu ul{
    list-style-type: none;
    padding-top: 4rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-menu ul li{
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 1.9rem;
}

.slide-menu ul li a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .1rem;

}


.menu-items{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
}


input:checked ~ .slide-menu{
    left: 0;
}


input:checked ~ .toggler-label{
    opacity: 1;
    background-color: #b4b4b44d;
    z-index: 2;
    left: 0;
}

#checkbox:checked ~ .menu-label .ham-container .menu-span{
    transform: rotate(45deg);
}

input:checked ~ .menu-label .ham-container .menu-span::before{
    transform: rotate(90deg);
    top: 0;
}


.slide-menu .fa-close{
    font-size: 2rem;
    color: var(--main-color);
    width: 3rem;
    height: 3rem;
    background-color: var(--block-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
    border-radius: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0px 10px 13px -9px rgb(0 0 0 / 20%);
}


